In [2]:
#Pattern 1:
#1
#11
#121
#1331
#14641
#161051
i=11
for x in range(6):
    print(i**x)

1
11
121
1331
14641
161051

In [5]:
#Reverse in for loop
for x in range(10,0,-1):
    print(x,end=' ')

10 9 8 7 6 5 4 3 2 1

In [10]:
#Pattern 2::
#  54321
#  4321  
#  321
#  21
#  1
for x in range(5,0,-1):
    for y in range(x,0,-1):
        print(y,end='')
    else:
        print()

54321
4321
321
21
1

In [11]:
#Pattern 3:
#55555
#4444
#333
#22
#1
for x in range(5,0,-1):
    for y in range(x):
        print(x,end='')
    else:
        print()

55555
4444
333
22
1

In [12]:
#ASCII VALUE(256)
# A-Z(65-90)
#a-z(97-122)
#Two function to print Ascii value
#chr()
#ord()
print(chr(65)) # it gives alphabet as output based on ascii value
print(ord('A')) # it gives ascii value based on alphabet

A
65

In [15]:
for x in range(65,91):
    print(chr(x),end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [19]:
i=97
for x in range(7):
    for y in range(4):
        print(chr(i),end='')
        i +=1
    else:
        print()

abcd
efgh
ijkl
mnop
qrst
uvwx
yz{|

In [20]:
i=97
for x in range(9):
    for y in range(4):
        print(chr(i),end='')
        i +=1
    else:
        print()
        i -=1

abcd
defg
ghij
jklm
mnop
pqrs
stuv
vwxy
yz{|

In [18]:
#Pattern 4:
'''
     *
    **
   ***
  ****
 *****
******'''
s=5
for x in range(1,7):
        print(' '*s,end='')
        print('*'*x,end='')
        s -=1
        print()

     *
    **
   ***
  ****
 *****
******

In [6]:
#Pattern 5:
'''
*****
*****
*****
*****
*****'''
for x in range(5):
        print('*'*5,end='')
        print()

*****
*****
*****
*****
*****

In [11]:
#Pattern 6:
'''
11111
22222
33333
44444
55555'''
for x in range(1,6):
    for y in range(5):
        print(x,end='')
    print()

11111
22222
33333
44444
55555

In [4]:
#Pattern 6:
'''
12345
12345
12345
12345
12345'''
for x in range(5):
    for y in range(1,6):
        print(y,end='')
    print()

12345
12345
12345
12345
12345

In [3]:
#Pattern 7:
'''
1
12
123
1234
12345'''
for x in range(1,6):
    for y in range(1,x+1):
        print(y,end='')
    print()

1
12
123
1234
12345

In [5]:
print("Hello")

Hello

In [11]:
#Pattern 8:
'''
1
21
321
4321
54321'''
for x in range(1,6):
    for y in range(x,0,-1):
        print(y,end='')    
    print()

1
21
321
4321
54321

In [1]:
#Pattern 9:
totalrowcol=int(input())
rowno=1
colno=1
for i in range(rowno,totalrowcol+1):
    for j in range(colno,totalrowcol+1):
        if(j==colno or j==totalrowcol or i==rowno or i==totalrowcol or (i==j) or (i+j)==totalrowcol+1):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

5
* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [2]:
#Pattern 10:
'''
1
00
111
0000
11111'''
for x in range(5):
    for y in range(x+1):
        if(x%2==0):
            print('1',end='')
        else:
            print('0',end='')
    print()

1
00
111
0000
11111

In [8]:
#Pattern 11:
'''
1
123
12345
1234567
123456789'''
i=1
for x in range(1,6):
    for y in range(1,i+1):
        print(y,end='')
    i=i+2
    print()

1
123
12345
1234567
123456789

In [11]:
#Pattern 12:
'''
*****
****
***
**
*'''
for x in range(5,0,-1):
    print('*'*x,end='')
    print()

*****
****
***
**
*